.details-container {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px #bbbbc2;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-button {
    align-self: flex-end;
}