.containers {
  margin: 10px 10px 80px;
  text-align: center;
}

.avatar-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  image-rendering: -webkit-optimize-contrast;
  object-fit: cover;
}
.pic-30px {
  width: 30px;
  height: 30px;
}
.add-post,
.post {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  margin: 20px 0;
  text-align: left;
}

.no-data-available-container {
  text-align: center !important;
  color: #374151;
}

.home-suggested-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.home-suggested-profile-container a {
  text-align: center;
}

.home-suggested-profile {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-around;
}

.home-suggested-profile div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  padding: 10px 5px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  width: 90px;
}
.home-suggested-profile img {
  margin-bottom: 10px;
}

.home-suggested-profile button {
  margin-top: 10px;
  padding: 3px 8px;
  color: #ffffff;
  background-color: #1877f2;
  border: 0;
  border-radius: 5px;
}

.home-suggested-profile-container h3 {
  padding: 5px;
  margin-bottom: 10px;
  text-align: left;
}

.block1024px {
  display: none;
}

.see-more {
  color: #6d6d6d;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999 !important;
  background-color: #9aacfa !important;
  color: #e6e6e6 !important;
}

.search-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.search-container div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  font-weight: bold;
}

.not-found-page {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.not-found-page img {
  max-width: 300px;
}

.not-found-page h1 {
  font-size: 20px;
  color: #1877f2;
}

.not-found-page a {
  background-color: #1877f2;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  font-size: 18px;
}

@media screen and (min-width: 1024px) {
  .none1024px {
    display: none;
  }

  .block1024px {
    display: block;
  }

  .home-suggested-profile div {
    width: 120px;
  }

  .not-found-page img {
    max-width: 400px;
  }

  .not-found-page h1 {
    font-size: 35px;
  }
}

@media screen and (min-width: 2560px) {
}
