.profile-info-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  margin: 20px 10px;
}

.profile-pic-container img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #fff;
  image-rendering: -webkit-optimize-contrast;
  object-fit: cover;
}

.profile-info-container input {
  display: none;
}

.profile-pic-container {
  margin-top: 100px;
  position: absolute;
  width: 100%;
  max-width: 120px;
}

.profile-cover {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  border-radius: 50px;
  cursor: pointer;
}

.profile-pic-container:hover .overlay,
.cover-container:hover .overlay {
  opacity: 0.7;
}

.pic-icon {
  color: #ffffff;
  font-size: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -52%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.274);
}

.pic-icon:hover {
  color: #eee;
}

.cover-container {
  position: relative;
  width: 100%;
  width: 100%;
}

.cover {
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.profile-name-button button {
  padding: 10px;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  font-weight: bold;
}

.profile-section {
  display: flex;
  gap: 20px;
}

.profile-section button {
  border: 0;
  background-color: transparent;
  color: #000000;
  font-size: 18px;
  padding: 2px;
}

.profile-username {
  font-size: 25px;
  font-weight: bold;
}

.profile-name-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 70px;
}

.active-section {
  color: #1877f2 !important;
  border-bottom: 3px solid #1877f2 !important;
  padding-bottom: 1px !important;
}

.profile-post-section {
  margin: 0 10px;
}

@media screen and (min-width: 768px) {
  .profile-pic-container {
    max-width: 120px;
  }

  .pic-icon {
    font-size: 120px;
  }

  .profile-pic-container {
    margin-top: 130px;
  }

  .profile-cover {
    height: 180px;
  }
  .profile-cover {
    height: 180px;
  }
}

@media screen and (min-width: 1024px) {
  .profile-pic-container img {
    width: 150px;
    height: 150px;
  }
  .profile-pic-container {
    margin-top: 200px;
  }
  .profile-pic-container {
    max-width: 150px;
  }

  .pic-icon {
    color: white;
    font-size: 150px;
  }

  .profile-name-button {
    margin-top: 90px;
  }
  .profile-cover {
    height: 250px;
  }
}
