.post-buttons {
  border-top: 1px solid #e4e4e4;
  display: flex;
}

.post-buttons button {
  margin: 10px 10px 5px;
  padding: 10px 0px;
  border: 0;
  width: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  font-size: 18px;
  border-radius: 5px;
}

.post-buttons button:hover {
  background-color: #e6e6e6;
}

.comment-container {
  padding: 20px 0 10px;
  position: relative;
}

.comment-author-message {
  background-color: #f0f2f5;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.comment-info {
  width: 90%;
}

.comment-option {
  display: flex;
  color: #8d8989;
  font-size: 12px;
  gap: 5px;
  margin: 10px 5px 0 5px;
}

.add-comment textarea,
.add-reply textarea {
  width: 100%;
  margin-top: 10px;
  background-color: #f4f2f2;
  padding: 10px;
  border-radius: 5px;
  resize: none;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

textarea:focus {
  outline: none !important;
  border: 2px solid #1877f2;
  padding: 9px !important;
}

.add-comment {
  margin-top: 10px;
  border-top: 1px solid #cfcfcf;
}

.add-comment button,
.add-reply button {
  width: 100%;
  border: 0;
  color: #fff;
  background-color: #1877f2;
  font-weight: bold;
  padding: 7px;
  border-radius: 5px;
}

.like-comments-container {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 5px;
  height: 15px;
}

.comment-count-container {
  width: 50%;
}

.like-count-container {
  text-align: right;
}

.like-count,
.comment-count {
  font-size: 13px;
}

.like-count {
  cursor: pointer;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}
.comment-option .button {
  cursor: pointer;
  font-weight: bold;
  padding-left: 10px;
}

.like-comment {
  background-color: #1877f2;
  border-radius: 50%;
  color: white;
  padding: 2px;
  font-size: 17px;
}

.like-comment-count {
  position: absolute;
  align-items: center;
  font-size: 15px;
  bottom: 40px;
  right: 18px;
  display: flex;
  gap: 1px;
}

.black-screen {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgb(0 0 0 / 45%);
  z-index: 1;
  width: 100% !important;
  height: 100%;
}

.screen-container {
  position: absolute;
  text-align: center;
  z-index: 2;
  top: 50%;
  left: 50%;
  padding: 15px;
  width: 250px;
  border-radius: 10px;
  background-color: white;
  transform: translate(-50%, -50%);
  max-height: 600px;
  overflow-y: scroll;
  overflow-y: hidden;
  border: 3px solid #1877f2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.likes {
  display: flex;
  gap: 10px;
  align-items: center;
}

.screen-container {
  font-weight: bold;
}

.screen-container .title-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.likes-count-container .delete-button {
  align-self: end;
  font-size: 25px;
}

.reply-count {
  margin-left: 60px;
  display: flex;
  gap: 5px;
  align-items: self-end;
}

.reply-container {
  margin-left: 60px;
}

.reply-container .comment-container {
  padding-top: 10px;
}

.add-reply {
  padding: 0 20px 0 60px;
}

.add-reply div {
  display: flex;
  align-items: center;
}

.icon-arrow {
  font-size: 20px;
}

.add-reply textarea {
  width: 100%;
  margin-top: 0;
  margin-bottom: 5px;
}
