.post-info,
.comment-container {
  display: flex;
  gap: 10px;
  text-align: left;
}
.author-time {
  width: 90%;
  padding-top: 5px;
}

.author {
  font-weight: bold;
}

.time,
.comment-option {
  color: #8d8989;
  font-size: 12px;
}

.post-message {
  background-color: #f0f2f5;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.delete-button {
  align-self: baseline;
  border: 0;
  background-color: transparent;
}

.post-image {
  padding: 10px;
  object-fit: contain;
  max-height: 600px;
}

.icon-remove-pic {
  align-self: flex-end;
  font-size: 25px;
}
