/* still used by comments and the post form */

.comment-container {
  display: flex;
  gap: 5px;
  text-align: left;
}

.author {
  font-weight: bold;
}

.time,
.comment-option {
  color: #8d8989;
  font-size: 12px;
}

.delete-button {
  align-self: baseline;
  border: 0;
  background-color: transparent;
}

.delete-button-container {
  width: 20px;
}

.icon-remove-pic {
  align-self: flex-end;
  font-size: 25px;
  cursor: pointer;
}

@media screen and (min-width: 425px) {
  .comment-container {
    gap: 10px;
  }
}
