.post-info,
.comment-container {
  display: flex;
  gap: 5px;
  text-align: left;
}
.author-time {
  width: 90%;
  padding-top: 5px;
}

.author {
  font-weight: bold;
}

.time,
.comment-option {
  color: #8d8989;
  font-size: 12px;
}

.post-message {
  margin: 10px 0 5px 10px;
  border-radius: 10px;
}

.delete-button {
  align-self: baseline;
  border: 0;
  background-color: transparent;
}

.delete-button-container {
  width: 20px;
}

.post-image {
  object-fit: contain;
  max-height: 600px;
}

.icon-remove-pic {
  align-self: flex-end;
  font-size: 25px;
  cursor: pointer;
}

@media screen and (min-width: 425px) {
  .post-info,
  .comment-container {
    gap: 10px;
  }
}
