.side-menu-container {
  display: none;
}
.delete-account {
  padding: 5px;
  border: 2px solid #f11313;
  color: #f11313;
  width: 125px;
}

.s-m-friendRequests h3 {
  color: #374151
}

@media screen and (min-width: 768px) {
  .side-menu-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    background-color: #fff;
    margin: 30px 15px;
    height: fit-content;
    gap: 30px;
    width: 250px;
    position: sticky;
    top: 0;
  }

  .side-menu-container button {
    border: 0;
    border-radius: 5px;
    color: #fff;
    background-color: #1877f2;
    padding: 5px;
    font-weight: bold;
  }

  .s-m-profile a,
  .s-m-profile p {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  .s-m-profile img {
    width: 35px;
    height: 35px;
  }

  .s-m-div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
  }

  .side-menu-container h3 {
    margin-bottom: 10px;
  }

  .s-m-profile {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .s-m-profile div {
    display: flex;
    gap: 15px;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .side-menu-container {
    width: 25%;
  }
}

@media screen and (min-width: 1440px) {
  .side-menu-container {
    padding: 30px 40px;
    font-size: 18px;
  }

  .delete-account {
    width: 145px;
  }
}
