.about-container {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  max-width: 290px;
}

.edit-button {
  align-self: flex-end;
}

.about-form {
  display: flex;
  flex-wrap: wrap;
}

.about-form div {
  position: relative;
}

.about-form label {
  position: absolute;
  top: -8px;
  left: 10px;
  background-color: #fff;
  padding: 0px 6px;
  font-size: 13px;
  color: rgb(65, 65, 65);
}

.about-form h4 {
  position: absolute;
  padding-left: 10px;
  font-weight: 200;
  font-size: 12px;
  color: #848484;
  padding-top: 5px;
}

.default-value {
  font-size: 12px;
  color: #848484;
}

.about-form input:focus {
  outline: none !important;
  border: 2px solid #1877f2;
  padding: 19px 9px 4px;
}

.about-form select,
.about-form input {
  width: 220px;
  border-radius: 4px;
  padding: 10px;
  font-size: 12px;
  border: 1px solid rgb(186, 186, 186);
}

.relationship {
  position: inherit !important;
  text-align: center;
  color: black !important;
  font-size: 16px !important;
}

.about-form .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.about-form button {
  background: #1877f2;
  color: #ffffff;
  width: 100px;
  font-weight: 800;
  border-radius: 4px;
  padding: 10px;
  border: 0;
}

.about-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-info p {
  display: flex;
  align-items: center;
  gap: 10px;
}
.about-icon {
  color: #3b5998;
  font-size: 20px;
}
.error-about {
  height: 20px;
  color: red;
  font-size: 14px;
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .about-container {
    max-width: 490px;
  }
  
  .about-form div:nth-child(even) {
    margin-left: 20px;
  }
}
